[build-system]
requires = ["setuptools>=61.0",
            ]
                   
build-backend = "setuptools.build_meta"

[project]
name = "ir-sim"
version = "2.3.4"
authors = [
  { name="Han Ruihua", email="hanrh@connect.hku.hk" },
]
description = "an open-source, lightweight robot simulator based on Python, specifically designed for intelligent robotics navigation and learning. Primarily intended for research and educational purposes, it is user-friendly and easily customizable."
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    'matplotlib<3.10.0',
    'shapely>=2.0.3',
    'numpy',
    'pyyaml',
    'imageio',
    'loguru',
    'tabulate',
]

[project.optional-dependencies]
keyboard = ['pynput']
all = ['pynput']

[tool.setuptools.packages.find]
include = ["irsim*"]
exclude = ["doc*", "tests*"]

[tool.setuptools.package-data]
"*" = ["*.png", "*.yaml"]

classifiers = [
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[project.urls]
"Homepage" = "https://github.com/hanruihua/ir-sim"
