sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
sphinx_multiversion
myst_parser
importlib-metadata
sphinx_copybutton
pydata-sphinx-theme
pynput
sphinx_design
sphinx_inline_tabs
sphinx-autoapi
sphinx-intl
